.wrapper {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  transition: var(--transition);
  border-bottom: 1px solid var(--dark-gray);
}

.icon {
  width: 20px;
  height: 20px;
}
.input {
  text-transform: capitalize;
  letter-spacing: inherit;
  width: 100%;
  background-color: transparent;
  transition: var(--transition);
  &::placeholder {
    font-weight: 200;
    letter-spacing: 1.5px;
    text-transform: none;
    font-style: italic;
    color: rgba(54, 54, 54, 0.5);
  }
}
