.wrapper {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  transition: var(--transition);

  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  height: 100%;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  font-size: 20px;
}

.icon {
  width: 20px;
  height: 20px;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button_edit,
.button_delete {
  border-radius: 50%;
  background-color: transparent;
}

.button_edit:hover {
  background-color: rgba(255, 255, 0, 0.5);
  transform: scale(1.025);
}

.button_delete:hover {
  background-color: var(--accent-red);
  transform: scale(1.025);
}
