.container {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--light-gray);
  font-weight: 100;
  font-size: 48;
  text-align: center;
}
